<!-- 调用头部文件 -->
<include file = "Public:header" title = "{$title}" />
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>添加续借</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <form method="post" class="form-horizontal" action="__MODULE__/Borrow/renew_act" id="renew_borrow">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">借款人</label>
                        <div class="col-sm-3">
                            <p class="form-control-static">{$borrow_list.name}</p>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">合同号</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="contract_number" name="contract_number">
                        </div>
                    </div>
					
                     <div class="form-group">
                            <label class="col-sm-2 control-label">借款期限</label>
                            <div class="col-md-3">
                                           <select class="form-control m-b" name="borrow_duration">
                                               <option value="0.5">0.5</option>
                                               <option value="1" selected="">1</option>
                                               <option value="2">2</option>
                                               <option value="3">3</option>
                                               <option value="4">4</option>
                                               <option value="5">5</option>
                                               <option value="6">6</option>
                                               <option value="7">7</option>
                                               <option value="8">8</option>
                                               <option value="9">9</option>
                                               <option value="10">10</option>
                                               <option value="11">11</option>
                                               <option value="12">12</option>
                                           </select>
                                            <span class="help-block m-b-none">单位:月</span>
                             </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">借款金额</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" value="{$borrow_list.borrow_money}" name="borrow_money" aria-required="true" aria-invalid="true">
                            <span class="help-block m-b-none">单位:元</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">利率</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" value="{$borrow_list.borrow_interest_rate}" name="borrow_interest_rate" aria-required="true" aria-invalid="true">
                            <span class="help-block m-b-none">%</span>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">手续费率</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" value="{$borrow_list.borrow_procedures_rate}" name="borrow_procedures_rate" aria-required="true" aria-invalid="true">
                            <span class="help-block m-b-none">%</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">借款时间</label>
                        <div class="col-md-3">
                            <input id="hello" class="laydate-icon form-control layer-date" name="borrow_time" aria-required="true" aria-invalid="true">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">还款方式</label>
                        <div class="col-md-3">
                            <select class="form-control m-b" name="repayment_type">
                                <option value="付息还本">付息还本</option>
                                <option value="到期本息">到期本息</option>
                            </select>
                        </div>
                    </div>
            
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <input type="hidden" name="renew_id" value="{$borrow_list.id}">
                            <input type="hidden" name="borrow_number" value="{$borrow_list.borrow_number}">
                            <input type="hidden" name="borrow_uid" value="{$borrow_list.borrow_uid}">
                            <button class="btn btn-primary" type="submit">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 调用脚部文件 -->
<include file = "Public:footer"  />