<!-- 调用头部文件 -->
<include file = "Public:header" title = "{$title}" />

<div class="row">
      <div class="col-sm-12">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5>2015年每月应收与实收</h5>
                  <div class="ibox-tools">
                      <a class="collapse-link">
                          <i class="fa fa-chevron-up"></i>
                      </a>
                      <a class="close-link">
                          <i class="fa fa-times"></i>
                      </a>
                  </div>
              </div>
              <div class="ibox-content">
                  <div class="echarts" id="morris-bar-chart-15"></div>
              </div>
          </div>
      </div>
</div>

<div class="row">
      <div class="col-sm-12">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5>2016年每月应收与实收</h5>
                  <div class="ibox-tools">
                      <a class="collapse-link">
                          <i class="fa fa-chevron-up"></i>
                      </a>
                      <a class="close-link">
                          <i class="fa fa-times"></i>
                      </a>
                  </div>
              </div>
              <div class="ibox-content">
                  <div class="echarts" id="morris-bar-chart-16"></div>
              </div>
          </div>
      </div>
</div>
<!-- 调用脚部文件 -->
<include file = "Public:footer"  />